configname "^9[^://Jump.To.History^9] ^3#JH.mod"

init
{
  setl sv_pure 1
  set sv_fps 20
  set sv_cheats 0

set sv_hostname "^:[^9//Data.hourb.com ^:] ^3#JH.mod"
set g_needpass "0"
set g_password ""

set lua_modules "seen.lua kmod.lua amm0.lua globalcombined.lua advplayers.lua stamina.lua jhscripts.lua"

setl lua_allowedmodules ""
set b_privatemessages 1

command "pb_sv_disable"
command "sv_cvarempty"
command "wait 50"
command "pb_sv_restart"
command "forcecvar pb_sleep 500"
command "forcecvar pb_cl_enable"
command "forcecvar cl_allowdownload 1"


  set g_warmup 0
  set g_doWarmup 0
  setl g_voiceChatsAllowed 99
  set g_spectatorInactivity 0
  set g_inactivity 0
  setl g_friendlyFire 0
  setl g_heavyWeaponRestriction 0
  setl g_medicChargeTime 0
  setl g_LTChargeTime 0
  setl g_engineerChargeTime 0
  setl g_soldierChargeTime 0
  setl g_covertopschargetime 0
  setl g_landminetimeout 0
  setl g_teamForceBalance 0
  setl g_filtercams 1
  setl g_fastres 1
  setl g_noTeamSwitching 0
  setl g_knifeonly 0
  setl g_alliedmaxlives 0
  setl g_axismaxlives 0

  setl team_maxSoldiers -1
  setl team_maxMedics -1
  setl team_maxEngineers -1
  setl team_maxFieldops -1
  setl team_maxCovertops -1

  setl team_maxMortars -1
  setl team_maxFlamers -1
  setl team_maxMg42s -1
  setl team_maxPanzers -1
  setl team_maxMines -1
  setl team_maxRiflegrenades -1

  setl team_maxplayers -1
  setl team_nocontrols 1
  setl match_timeoutcount 0
  setl match_timeoutlength 240
  setl match_minplayers 0
  setl match_latejoin 1
  setl match_mutespecs 0
  setl match_readypercent 100
  setl match_warmupDamage 2

  setl sv_minping 0
  setl sv_maxping 0

  set pmove_fixed 1
  set pmove_msec "8"
  set b_fixedphysics 0
  set b_fixedphysicsfps 125
  

  setl g_allowVote 1
  setl vote_limit 99
  //set vote_percent 51
  setl vote_allow_balancedteams 0
  setl vote_allow_muting 0
  setl vote_allow_swapteams 0
  setl vote_allow_friendlyfire 0
  setl vote_allow_timelimit 0
  setl vote_allow_kick 0
  setl vote_allow_map 1
  setl vote_allow_matchresetl 1
  setl vote_allow_mutespecs 0
  setl vote_allow_nextmap 0
  setl vote_allow_referee 0
set vote_allow_config "def def2 pub priv3 priv5 green 3hs hide"
  setl vote_allow_comp 0
  setl vote_allow_gametype 1
  setl vote_allow_pub 0
  setl vote_allow_shuffleteams 0
  setl vote_allow_shuffleteamsxp 0
  setl vote_allow_cointoss 0
  setl vote_allow_surrender 0
  setl vote_allow_warmupdamage 0

  setl b_mapscriptdirectory "globalmapscripts"
  setl b_mapconfigdirectory ""

  setl b_levels_battlesense "0 0 0 0"
  setl b_levels_engineer "0 0 0 0"
  setl b_levels_medic "0 0 0 0"
  setl b_levels_fieldops "0 0 0 0"
  setl b_levels_lightweapons "0 0 0 0"
  setl b_levels_soldier "0 0 0 0"
  setl b_levels_covertops "0 0 0 0"
  set b_defaultskills "4 4 4 4 4 4 4"
  setl b_noskillupgrades 1

//watermark



  setl b_statsaver 1
  setl b_intermissiontime 20
  setl b_match_warmupjoin 1
  setl b_multiview 0
  setl b_xpstopwatch 1
  setl b_spectatornames 1
  set b_shove 100
  setl b_shove_noz 0
  setl b_stickycharge 2
  setl b_damagexp 1
  setl b_antiwarp 1
  setl b_panzerlevelup 0
  set b_headshot 1
  setl b_riflegrenades 1
  set b_fallingbugfix 1
  setl b_campaignfile ""
  setl b_defaultbantime 0
  setl b_ettv_flags 3

  setl b_shrug 0
  setl b_wolfrof 1
  setl b_flushitems 1
  setl b_distancefalloff 1
  setl b_helmetprotection 1
  setl b_chargetransfer 1
  setl b_sv_hitsounds 1
  set b_realhead 1

  setl b_extendedprone 0

//JV STUFF

setl jh_loadLimit 9999999999999999
setl jh_saveload 1
setl jh_nosaveload 0
setl jh_voteHandle 1


//LIVES NORMAL

set g_maxlives 0


set g_log "etjconsole.log"

   set b_cheatlog "etjconsole2.log"

  setl b_anticheat 0
  setl b_cheatkicktime 0

 
}
map default
{
  set g_userTimeLimit 500
  setl g_useralliedrespawntime 1
  setl g_useraxisrespawntime 1
  set b_moverscale 1
  setl team_maxMines -1
  set timelimit 0
}