

configname "^3methLab ^:(#2^:)"

init
{
set b_gameformat "3"
set sv_pure 1
set sv_cheats 0
set g_needpass "0"
set g_password ""

set lua_modules "globalcombined.lua advplayers.lua announcehp4.lua"

set g_gametype 3
setl g_warmup 3
setl g_doWarmup 1
setl g_voiceChatsAllowed 99
setl g_spectatorInactivity 0
setl g_friendlyFire 1
setl g_heavyWeaponRestriction 16
setl g_medicChargeTime 45000
setl g_LTChargeTime 35000
setl g_engineerChargeTime 30000
setl g_soldierChargeTime 30000
setl g_covertopschargetime 30000
setl g_landminetimeout 0
setl g_teamForceBalance 0
setl g_filtercams 1
setl g_fastres 0
setl g_noTeamSwitching 0
setl g_knifeonly 0
setl g_alliedmaxlives 0
setl g_axismaxlives 0
setl g_speed 320
setl g_gravity 800
setl g_knockback 1000

setl team_maxSoldiers 2
setl team_maxMedics -1
setl team_maxEngineers 2
setl team_maxFieldops 3
setl team_maxCovertops 2

setl team_maxFlamers 1
setl team_maxMg42s 1
setl team_maxMortars 1
setl team_maxPanzers 1
setl team_maxRiflegrenades 4
setl team_maxplayers 0
setl team_nocontrols 1

setl match_latejoin 1
setl match_minplayers 0
setl match_readypercent 100
setl match_timeoutcount 2
setl match_timeoutlength 240
setl match_warmupDamage 2

setl g_allowVote 1
setl vote_allow_balancedteams 0
setl vote_allow_cointoss 0
setl vote_allow_comp 0
setl vote_allow_friendlyfire 0
setl vote_allow_gametype 0
setl vote_allow_kick 1
setl vote_allow_map 1
setl vote_allow_matchreset 1
setl vote_allow_mutespecs 0
setl vote_allow_muting 1
setl vote_allow_nextmap 0
set vote_allow_config "def pub priv3 priv5"
setl vote_allow_pub 0
setl vote_allow_referee 0
setl vote_allow_shuffleteams 0
setl vote_allow_shuffleteamsxp 0
setl vote_allow_surrender 0
setl vote_allow_swapteams 0
setl vote_allow_timelimit 1
setl vote_allow_warmupdamage 0
setl vote_limit 99
setl vote_percent 51

setl b_levels_battlesense "-1"
setl b_levels_engineer "-1"
setl b_levels_medic "-1"
setl b_levels_fieldops "-1"
setl b_levels_lightweapons "-1"
setl b_levels_soldier "-1"
setl b_levels_covertops "-1"
setl b_defaultskills ""
setl b_noskillupgrades 1

setl b_statsaver 1
setl b_intermissiontime 20
set b_privatemessages 0
setl b_floodKickRate 10
setl b_floodKickBurst 15
setl b_floodKickTime 0
setl b_match_warmupjoin 1
setl b_multiview 0
setl b_xpstopwatch 1
setl b_spectatornames 1
setl b_shove 60
setl b_shove_noz 1
setl b_stickycharge 2
setl b_damagexp 0
setl b_antiwarp 1
setl b_panzerlevelup 5
setl b_headshot 0
setl b_riflegrenades 1
setl b_fallingbugfix 1
setl b_fixedphysics 1
setl b_fixedphysicsfps 125
setl b_campaignfile ""
setl b_defaultbantime 125
setl b_ettv_flags 3
setl b_shrug 0
setl b_wolfrof 0
setl b_flushitems 1
setl b_distancefalloff 1
setl b_helmetprotection 1
setl b_maxmortarpitch 20
setl b_chargetransfer 0
setl b_sv_hitsounds 1
setl b_realhead 1
setl b_extendedprone 1
setl b_pronedelay 1
setl b_banners 0
set sv_minping 0
set sv_maxping 900
set pmove_fixed 0
set nextmap ""



setl b_mapscriptdirectory "globalmapscripts"
setl b_mapconfigdirectory ""
setl lua_allowedmodules ""


set g_log "etconsole.log"

set b_cheatlog "etconsole2.log"

set b_anticheat 1
set b_cheatkicktime 0
set ac_sv_minage 0

command "pb_sv_enable"
command "pb_sv_kicklen 0"
command "pb_sv_cvarempty"
command "pb_sv_md5toolempty"
command "sv_cvarempty"
command "sv_cvar cl_freelook EQ 1"
command "sv_cvar cl_timenudge EQ 0"
command "sv_cvar b_simpleitems IN 0 1"
command "sv_cvar cg_fov IN 90 140"
command "sv_cvar cg_shadows IN 0 1"
command "sv_cvar rate EQ 25000"
command "sv_cvar cl_maxpackets EQ 100"
command "sv_cvar snaps EQ 20"
command "sv_cvar com_maxfps IN 40 125"
command "sv_cvar r_drawentities EQ 1"
command "sv_cvar r_drawworld EQ 1"
command "sv_cvar r_lightmap EQ 0"
command "sv_cvar r_showmodelbounds EQ 0"
command "sv_cvar r_showtris EQ 0"
command "sv_cvar r_znear EQ 3"
command "sv_cvar r_allowextensions EQ 1"
command "sv_cvar r_clamptoedge EQ 1"
command "sv_cvar r_colorMipLevels EQ 0"
command "sv_cvar r_depthbits IN 24 32"
command "sv_cvar r_flares IN 0 1"
command "sv_cvar r_ext_ATI_pntriangles EQ 0"
command "sv_cvar r_primitives IN 0 2"
command "forcecvar r_wolffog 0"
command "forcecvar r_zfar 0"
command "forcecvar cl_punkbuster 1"
command "wait 50"
command "pb_sv_restart"
}


map default
{
set g_userTimeLimit 20
setl g_useralliedrespawntime 0
setl g_useraxisrespawntime 0
setl b_moverscale 1.5
setl team_maxMines 5
command "forcecvar r_drawfoliage 0"
}
